## Create a single csv from train-sample.csv and questions.csv

In [2]:
import pandas as pd

df_train = pd.read_csv('train-sample.csv')
df_questions = pd.read_csv('riiid-test-answer-prediction/questions.csv')
df_lectures = pd.read_csv('riiid-test-answer-prediction/lectures.csv')

In [15]:
tmp = df_questions.rename(columns={'question_id':'content_id'})
df_combined = df_train.join(tmp.set_index('content_id'), on='content_id')
df_combined = df_combined.assign(tags=df_combined['tags'].str.split(' ')).explode('tags')
df_combined.drop(['bundle_id'], axis=1, inplace=True) #remove duplicate column

In [16]:
df_combined.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,correct_answer,part,tags
0,373315,39668282,7171715,3693,0,4086,0,1,0.0,True,0.0,5.0,109
1,459286,0,9143398,4727,0,0,2,0,NaN,NaN,0.0,5.0,116
2,262398,3341125071,4980312,1250,0,493,0,0,13000.0,True,1.0,2.0,62
2,262398,3341125071,4980312,1250,0,493,0,0,13000.0,True,1.0,2.0,148
2,262398,3341125071,4980312,1250,0,493,0,0,13000.0,True,1.0,2.0,32

In [19]:
df_combined.to_csv('train-sample-with-questions.csv',index=False)